# Python cache
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# virtual environments
.venv/
env/
venv/

# OS noise
.DS_Store
Thumbs.db

# data files
*.csv
*.jpg
*.jpeg
*.png
*.npy
*.npz
*.parquet

# logs
*.log

# large raw ECG data
data/
*.pt

# other
tmp/

